templates/index.html
templates/post1.html
misc/sample.py
dockerfile
misc/telegram.py
alpha/bin/python3
alpha/bin/python
alpha/pyvenv.cfg
aws_private_key.pem
main.tf
main1.tf
wsgi.py
__pycache__/wsgi.cpython-310.pyc
__pycache__/app.cpython-310.pyc
.terraform.lock.hcl
.terraform.tfstate.lock.info
alpha.sock
app.py
blog_uwsgi.ini
style.css
terraform.tfstate
terraform.tfstate.backup
vercel.json
.terraform/providers/registry.terraform.io/hashicorp/aws/5.10.0/windows_amd64/terraform-provider-aws_v5.10.0_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/null/3.2.1/windows_amd64/terraform-provider-null_v3.2.1_x5.exe
.vercel
