<!-- templates/post2.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AlphaSec | Blog Post 2</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <section class="title container">
    <div class="row">
      <div class="col-md-12">
        <h1>Blog Post 2</h1>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>
          Content for Blog Post 2 goes here.
        </p>
        <!-- Add the rest of the content for Blog Post 2 -->
      </div>
    </div>
  </div>
</body>
</html>
